page-detail-ansicht {

    #categoryBar {
        margin-top: -46.0px;
        z-index:    -1;
    }

    .animate {
        animation: moveCatergoryBar ease-out 1;
        animation-fill-mode: forwards;
        animation-duration:  0.5s;
    }

    @keyframes moveCatergoryBar {
        0%   { margin-top: -46.0px; }
        100% { margin-top: -00.0px; }
    }
}
