page-detail-ansicht {

    #categoryBar {
        margin-top: -46px;
        z-index:    -1;
    }

    .animate {
        animation-name:      moveCatergoryBar;
        animation-duration:  0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes moveCatergoryBar {
        0%   { margin-top: -46.0px; }
        100% { margin-top: -00.0px; }
    }
}
