page-detail-ansicht {

    .full-screen-image {
        display:      block;
        height:       auto;
        margin:       0 auto;
        widows:       100%;
    }

    #categoryBar {
        display: none;
    }
}
