// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

    ion-fab {
        margin-right:  8px;
        margin-bottom: 8px;
    }
    
    .item-inner, .item {
        border-bottom-color: lightgray !important;
        box-shadow: none !important;
    }
    
    .list-button {
        color: #222;
        margin-right: 0px !important;
        z-index: 1;
    }

    scroll-content {
        overflow-y: auto;
    }

    ion-toggle {
        z-index: 1;
    }
    
    .bar-button-md {
        margin-left:  2px !important;
        margin-right: 8px !important;
    }

    .bar-button-ios {
        padding: 0 5px !important;
    }

    .full-screen-image {
        display:      block;
        height:       auto;
        margin:       0 auto;
        widows:       100%;
    }
